Repository mozilla-it/ctms-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, detect-secrets, isort, black

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

detect-secrets:
  name: detect-secrets
  entry: poetry run detect-secrets-hook
  args:
  - --baseline
  - .secrets.baseline
  language: system

isort:
  name: isort
  entry: poetry run isort
  args:
  - --recursive
  - --settings-path
  - ./pyproject.toml
  - .
  language: system

black:
  name: black
  entry: poetry run black
  args:
  - --config
  - ./pyproject.toml
  - .
  language: system

Read date from input CSV
  suppression-list/README.md
  suppression-list/csv2optout.py
  suppression-list/example.csv
Due: pylint, mypy, detect-secrets, isort, black

Adjust to Acoustic export date format
  suppression-list/README.md
  suppression-list/csv2optout.py
  suppression-list/example.csv
Due: pylint, mypy, detect-secrets, isort, black

Fix processing of dates and improve logging
  suppression-list/README.md
  suppression-list/csv2optout.py
Due: pylint, mypy, detect-secrets, isort, black

Build all primary emails first
  suppression-list/csv2optout.py
Due: pylint, mypy, detect-secrets, isort, black

Improve idempotency
  suppression-list/csv2optout.py
Due: pylint, mypy, detect-secrets, isort, black

Add notes about STAGE
  suppression-list/README.md
  suppression-list/csv2optout.py
Due: pylint, mypy, detect-secrets, isort, black

Group dependabot PRs
  .github/dependabot.yml
Due: detect-secrets

Remove pysilverpop
  poetry.lock
  pyproject.toml
Due: detect-secrets

Remove SVG diagram of CTMS
  docs/diagrams/ctms_general_overview.svg
Due: detect-secrets

Remove all Acoustic / background sync code
  .secrets.baseline
  README.md
  ctms/acoustic_service.py
  ctms/background_metrics.py
  ctms/bin/acoustic.py
  ctms/bin/acoustic_sync.py
  ctms/bin/add_stripe_data_to_acoustic_queue.py
  ctms/bin/healthcheck_sync.py
  ctms/config.py
  ctms/crud.py
  ctms/ingest_stripe.py
  ctms/metrics.py
  ctms/models.py
  ctms/routers/contacts.py
  ctms/routers/platform.py
  ctms/routers/stripe.py
  ctms/sync.py
  docs/configuration.md
  docs/deployment_guide.md
  docs/developer_setup.md
  docs/diagrams/bedrock_basket_ctms_acoustic.md
  migrations/versions/20240402_432e8585fe17_remove_acoustic_sync.py
  tests/factories/models.py
  tests/unit/bin/test_acoustic.py
  tests/unit/bin/test_acoustic_sync.py
  tests/unit/bin/test_healthcheck_sync.py
  tests/unit/conftest.py
  tests/unit/routers/test_platform.py
  tests/unit/routers/test_stripe.py
  tests/unit/test_acoustic_service.py
  tests/unit/test_crud.py
  tests/unit/test_ingest_stripe.py
  tests/unit/test_metrics.py
  tests/unit/test_sync.py
Due: pylint, mypy, detect-secrets, isort, black

Fix script pre
  suppression-list/csv2optout.py
Due: pylint, mypy, detect-secrets, isort, black

Remove Acoustic Integration / background sync job (#896)
  .secrets.baseline
  README.md
  ctms/acoustic_service.py
  ctms/background_metrics.py
  ctms/bin/acoustic.py
  ctms/bin/acoustic_sync.py
  ctms/bin/add_stripe_data_to_acoustic_queue.py
  ctms/bin/healthcheck_sync.py
  ctms/config.py
  ctms/crud.py
  ctms/ingest_stripe.py
  ctms/metrics.py
  ctms/models.py
  ctms/routers/contacts.py
  ctms/routers/platform.py
  ctms/routers/stripe.py
  ctms/sync.py
  docs/configuration.md
  docs/deployment_guide.md
  docs/developer_setup.md
  docs/diagrams/bedrock_basket_ctms_acoustic.md
  docs/diagrams/ctms_general_overview.svg
  migrations/versions/20240402_432e8585fe17_remove_acoustic_sync.py
  poetry.lock
  pyproject.toml
  tests/factories/models.py
  tests/unit/bin/test_acoustic.py
  tests/unit/bin/test_acoustic_sync.py
  tests/unit/bin/test_healthcheck_sync.py
  tests/unit/conftest.py
  tests/unit/routers/test_platform.py
  tests/unit/routers/test_stripe.py
  tests/unit/test_acoustic_service.py
  tests/unit/test_crud.py
  tests/unit/test_ingest_stripe.py
  tests/unit/test_metrics.py
  tests/unit/test_sync.py
Due: pylint, mypy, detect-secrets, isort, black

Turn suppression list CSV into a set of SQL files to be ran on the server (#892)
  suppression-list/README.md
  suppression-list/csv2optout.py
  suppression-list/example.csv
Due: pylint, mypy, detect-secrets, isort, black

Remove Stripe integration
  .secrets.baseline
  ctms/app.py
  ctms/auth.py
  ctms/bin/flatten_subscriptions_from_firestore_export.py
  ctms/bin/ingest_stripe_data.py
  ctms/config.py
  ctms/crud.py
  ctms/ingest.py
  ctms/ingest_stripe.py
  ctms/metrics.py
  ctms/models.py
  ctms/routers/stripe.py
  ctms/schemas/__init__.py
  ctms/schemas/contact.py
  ctms/schemas/product.py
  ctms/schemas/stripe_customer.py
  ctms/schemas/stripe_invoice.py
  ctms/schemas/stripe_invoice_line_item.py
  ctms/schemas/stripe_price.py
  ctms/schemas/stripe_subscription.py
  ctms/schemas/stripe_subscription_item.py
  docs/configuration.md
  docs/deployment_guide.md
  tests/data/__init__.py
  tests/data/stripe/README.md
  tests/data/stripe/customer_01.json
  tests/data/stripe/invoice_01.json
  tests/data/stripe/subscription_01.json
  tests/factories/__init__.py
  tests/factories/models.py
  tests/factories/stripe.py
  tests/unit/conftest.py
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/routers/contacts/test_bulk.py
  tests/unit/routers/test_stripe.py
  tests/unit/test_auth.py
  tests/unit/test_crud.py
  tests/unit/test_ingest_stripe.py
  tests/unit/test_metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Generate migration for Stripe removal
  migrations/versions/20240515_cea70cf9d626_remove_stripe_integration.py
Due: mypy, detect-secrets, isort, black

Remove Stripe integration / product data (#903)
  .secrets.baseline
  ctms/app.py
  ctms/auth.py
  ctms/bin/flatten_subscriptions_from_firestore_export.py
  ctms/bin/ingest_stripe_data.py
  ctms/config.py
  ctms/crud.py
  ctms/ingest.py
  ctms/ingest_stripe.py
  ctms/metrics.py
  ctms/models.py
  ctms/routers/stripe.py
  ctms/schemas/__init__.py
  ctms/schemas/contact.py
  ctms/schemas/product.py
  ctms/schemas/stripe_customer.py
  ctms/schemas/stripe_invoice.py
  ctms/schemas/stripe_invoice_line_item.py
  ctms/schemas/stripe_price.py
  ctms/schemas/stripe_subscription.py
  ctms/schemas/stripe_subscription_item.py
  docs/configuration.md
  docs/deployment_guide.md
  migrations/versions/20240515_cea70cf9d626_remove_stripe_integration.py
  tests/data/__init__.py
  tests/data/stripe/README.md
  tests/data/stripe/customer_01.json
  tests/data/stripe/invoice_01.json
  tests/data/stripe/subscription_01.json
  tests/factories/__init__.py
  tests/factories/models.py
  tests/factories/stripe.py
  tests/unit/conftest.py
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/routers/contacts/test_bulk.py
  tests/unit/routers/test_stripe.py
  tests/unit/test_auth.py
  tests/unit/test_crud.py
  tests/unit/test_ingest_stripe.py
  tests/unit/test_metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Ref #903: remove Stripe diagram
  docs/diagrams/ctms_stripe_entities_q4_21.svg
Due: detect-secrets

Group dependabot PRs (#894)
  .github/dependabot.yml
Due: detect-secrets

Track last access of API client
  .secrets.baseline
  ctms/crud.py
  ctms/dependencies.py
  ctms/models.py
  migrations/versions/20240527_f2041a868dca_add_column_to_track_api_use.py
  tests/unit/test_auth.py
Due: pylint, mypy, detect-secrets, isort, black

Ref #903: remove Stripe diagram (#907)
  docs/diagrams/ctms_stripe_entities_q4_21.svg
Due: detect-secrets

Add diagram about MoFo integration
  docs/diagrams/CTMS_Request_Diagram_ESP_Integration - Check_Insert_Update.png
Due: detect-secrets

Add diagram about MoFo integration (#911)
  docs/diagrams/CTMS_Request_Diagram_ESP_Integration - Check_Insert_Update.png
Due: detect-secrets

Track last access of API client (#906)
  .secrets.baseline
  ctms/crud.py
  ctms/dependencies.py
  ctms/models.py
  migrations/versions/20240527_f2041a868dca_add_column_to_track_api_use.py
  tests/unit/test_auth.py
Due: pylint, mypy, detect-secrets, isort, black

Remove import side effects from database.py
  ctms/app.py
  ctms/bin/client_credentials.py
  ctms/database.py
  ctms/dependencies.py
  migrations/env.py
  pyproject.toml
  tests/factories/__init__.py
  tests/factories/models.py
  tests/unit/conftest.py
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Pin mariadb
  docker-compose.yaml
Due: detect-secrets

Update secrets baseline
  .secrets.baseline
Due: detect-secrets

Use DB instead of API for delete_bulk
  ctms/bin/delete_bulk.py
Due: pylint, mypy, detect-secrets, isort, black

Upgrade Pydantic to 1.10.17
  poetry.lock
  pyproject.toml
Due: detect-secrets

Split DB from application settings
  asgi.py
  ctms/bin/client_credentials.py
  ctms/config.py
  ctms/database.py
  ctms/dependencies.py
  ctms/exception_capture.py
  ctms/routers/platform.py
  migrations/env.py
  tests/unit/conftest.py
Due: pylint, mypy, detect-secrets, isort, black

Upgrade Pydantic to 1.10.17 (#928)
  poetry.lock
  pyproject.toml
Due: detect-secrets

Add pydantic-settings
  poetry.lock
  pyproject.toml
Due: detect-secrets

Fix BaseSettings imports
  ctms/bin/delete_bulk.py
  ctms/config.py
  tests/integration/test_basket_waitlist_subscription.py
Due: pylint, mypy, detect-secrets, isort, black

Move all examples to Field()s
  ctms/schemas/contact.py
  ctms/schemas/email.py
  tests/unit/conftest.py
Due: pylint, mypy, detect-secrets, isort, black

Run bump-pydantic
  ctms/bin/delete_bulk.py
  ctms/config.py
  ctms/schemas/addons.py
  ctms/schemas/bulk.py
  ctms/schemas/contact.py
  ctms/schemas/email.py
  ctms/schemas/fxa.py
  ctms/schemas/mofo.py
  ctms/schemas/newsletter.py
  ctms/schemas/waitlist.py
  ctms/schemas/web.py
  tests/integration/test_basket_waitlist_subscription.py
Due: pylint, mypy, detect-secrets, isort, black

Update error messages in tests
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/test_auth.py
Due: pylint, mypy, detect-secrets, isort, black

rename field.required -> field.is_required()
  tests/unit/routers/contacts/test_api_patch.py
Due: pylint, mypy, detect-secrets, isort, black

Convert root validators -> model validators
  ctms/schemas/contact.py
  ctms/schemas/waitlist.py
Due: pylint, mypy, detect-secrets, isort, black

Serialize timestamps consistently
  ctms/schemas/addons.py
  ctms/schemas/common.py
  ctms/schemas/email.py
  ctms/schemas/fxa.py
  ctms/schemas/newsletter.py
  ctms/schemas/waitlist.py
Due: pylint, mypy, detect-secrets, isort, black

Path conditions:
  pylint: any of: \.py$, but not: ^migrations/
  mypy: any of: \.py$
  detect-secrets: any file but: poetry.lock
  isort: any of: \.py$
  black: any of: \.py$
