Repository mozilla-it/ctms-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, detect-secrets, isort, black

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

detect-secrets:
  name: detect-secrets
  entry: poetry run detect-secrets-hook
  args:
  - --baseline
  - .secrets.baseline
  language: system

isort:
  name: isort
  entry: poetry run isort
  args:
  - --recursive
  - --settings-path
  - ./pyproject.toml
  - .
  language: system

black:
  name: black
  entry: poetry run black
  args:
  - --config
  - ./pyproject.toml
  - .
  language: system

Read Acoustic Newsletters mapping from database (ref #256)
  ctms/acoustic_service.py
  ctms/bin/acoustic_newsletters_mapping.py
  ctms/models.py
  ctms/sync.py
  migrations/versions/20221115_f8b8f6aa0e96_add_acoustic_newsletter_mapping.py
  tests/unit/conftest.py
  tests/unit/test_acoustic_service.py
  tests/unit/test_sync.py
Due: pylint, mypy, detect-secrets, isort, black

Mention command in docs
  docs/deployment_guide.md
Due: detect-secrets

Use official return codes
  ctms/bin/acoustic_newsletters_mapping.py
Due: pylint, mypy, detect-secrets, isort, black

Add step to check lint in pull requests
  .github/workflows/test-build.yaml
Due: detect-secrets

Use os.EX_DATAERR instead of os.EX_NOTFOUND (available in Unix only)
  ctms/bin/acoustic_fields.py
Due: pylint, mypy, detect-secrets, isort, black

Use os.EX_DATAERR instead of os.EX_NOTFOUND (available in Unix only)
  ctms/bin/acoustic_newsletters_mapping.py
Due: pylint, mypy, detect-secrets, isort, black

Add step to check lint in pull requests (#460)
  .github/workflows/test-build.yaml
  ctms/bin/acoustic_fields.py
Due: pylint, mypy, detect-secrets, isort, black

Address code review comments
  ctms/bin/acoustic_newsletters_mapping.py
  ctms/crud.py
  docs/deployment_guide.md
  tests/unit/conftest.py
Due: pylint, mypy, detect-secrets, isort, black

Address changes on the acoustic_fields command too
  ctms/bin/acoustic_fields.py
  ctms/crud.py
  docs/deployment_guide.md
  tests/unit/conftest.py
Due: pylint, mypy, detect-secrets, isort, black

Adjust usage info in commands
  ctms/bin/acoustic_fields.py
  ctms/bin/acoustic_newsletters_mapping.py
Due: pylint, mypy, detect-secrets, isort, black

Ref #256: Move newsletters mapping to database (#456)
  ctms/acoustic_service.py
  ctms/bin/acoustic_fields.py
  ctms/bin/acoustic_newsletters_mapping.py
  ctms/crud.py
  ctms/models.py
  ctms/sync.py
  docs/deployment_guide.md
  migrations/versions/20221115_f8b8f6aa0e96_add_acoustic_newsletter_mapping.py
  tests/unit/conftest.py
  tests/unit/test_acoustic_service.py
  tests/unit/test_sync.py
Due: pylint, mypy, detect-secrets, isort, black

Replace assertions on length by assertions on fields
  tests/unit/test_acoustic_service.py
  tests/unit/test_sync.py
Due: pylint, mypy, detect-secrets, isort, black

Remove assertions about low level queries
  tests/unit/test_sync.py
Due: pylint, mypy, detect-secrets, isort, black

Remove unused StatementWatcher
  tests/unit/test_sync.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #457: Rework query assertions (#459)
  tests/unit/test_acoustic_service.py
  tests/unit/test_sync.py
Due: pylint, mypy, detect-secrets, isort, black

Properly format new migrations
  migrations/versions/20221109_406251207612_adding_index_for_stripe_invoice_line_.py
  migrations/versions/20221111_06f24cc01c09_add_acoustic_field.py
  migrations/versions/20221115_f8b8f6aa0e96_add_acoustic_newsletter_mapping.py
Due: mypy, detect-secrets, isort, black

Run linting and tests without separate compose files
  Makefile
  docker-compose.yaml
  docker/test.sh
  tests/docker-compose.lint.yaml
  tests/docker-compose.test.yaml
Due: detect-secrets

Run all linting checks with lint.sh
  docker/Dockerfile
  docker/lint.sh
Due: detect-secrets

Remove notion of test-shell
  Makefile
  README.md
  docs/testing_strategy.md
Due: detect-secrets

Add service healthcheck to postgres-admin
  docker-compose.yaml
Due: detect-secrets

Small tweaks to Makefile
  Makefile
Due: detect-secrets

Reconfigure black, isort, and mypy
  mypy.ini
  pyproject.toml
Due: detect-secrets

add PGUSER env var
  docker-compose.yaml
Due: detect-secrets

Use "safe mode" for entrypoint script
  docker/docker-entrypoint.sh
Due: detect-secrets

Remove lint and stage dockerfile stages
  docker/Dockerfile
Due: detect-secrets

Refactor CI workflow
  .github/workflows/test-build.yaml
Due: detect-secrets

Fix #461: Add endpoint to expose Acoustic /configuration
  ctms/app.py
  ctms/crud.py
  tests/unit/test_app.py
  tests/unit/test_metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Fix imports order
  ctms/app.py
Due: pylint, mypy, detect-secrets, isort, black

Ref #469: waitlists as generic relationship
  docs/adrs/waitlists_relationships.md
Due: detect-secrets

Fix typing in metrics
  ctms/metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Rework linting and testing locally and in CI (#475)
  .github/workflows/test-build.yaml
  Makefile
  README.md
  docker-compose.yaml
  docker/Dockerfile
  docker/docker-entrypoint.sh
  docker/lint.sh
  docker/test.sh
  docs/testing_strategy.md
  migrations/versions/20221109_406251207612_adding_index_for_stripe_invoice_line_.py
  migrations/versions/20221111_06f24cc01c09_add_acoustic_field.py
  migrations/versions/20221115_f8b8f6aa0e96_add_acoustic_newsletter_mapping.py
  mypy.ini
  pyproject.toml
  tests/docker-compose.lint.yaml
  tests/docker-compose.test.yaml
Due: mypy, detect-secrets, isort, black

Use dict instead of typing.Dict
  ctms/metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Fix typing in `metrics.py` (#474)
  ctms/metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Update secrets baseline
  .secrets.baseline
Due: detect-secrets

Read isort settings from pyproject
  docker/lint.sh
Due: detect-secrets

Remove pyproject param for isort
  .gitignore
  docker/lint.sh
Due: detect-secrets

Follow #475: update secrets baseline (#477)
  .gitignore
  .secrets.baseline
Due: detect-secrets

Run linting outside Docker
  .github/workflows/lint.yaml
  .github/workflows/test-build.yaml
  .gitignore
  .secrets.baseline
  Makefile
  bin/lint.sh
  docker/lint.sh
Due: detect-secrets

Rename /configuration to /acoustic_configuration
  ctms/app.py
  tests/unit/test_app.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #461: Add `/acoustic_configuration` endpoint to expose Acoustic fields configuration (#468)
  ctms/app.py
  ctms/crud.py
  tests/unit/test_app.py
  tests/unit/test_metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Path conditions:
  pylint: any of: \.py$, but not: ^migrations/
  mypy: any of: \.py$
  detect-secrets: any file but: poetry.lock
  isort: any of: \.py$
  black: any of: \.py$
