Repository mozilla-it/ctms-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, detect-secrets, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        exclude: ^migrations/
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
        exclude: 'k8s/secret.json'
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: 'k8s/secret.json'
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: poetry run bandit
        args: [-lll, --recursive]
        language: system
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: poetry run detect-secrets-hook
        args: ['--baseline', '.secrets.baseline']
        exclude: "poetry.lock"
        language: system
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.3
    hooks:
      - id: seed-isort-config
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--recursive", "--settings-path", "./pyproject.toml", "."]
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        args: ["--config","./pyproject.toml", "."]
        types: [python]
        language: system

Version bump 1.8.0 -> 1.8.1
  ctms/app.py
  pyproject.toml
Due: pylint, mypy, detect-secrets, isort, black

Version bump 1.8.0 -> 1.8.1 (#408)
  ctms/app.py
  pyproject.toml
Due: pylint, mypy, detect-secrets, isort, black

Only push Docker images on commits to `main` branch
  .github/workflows/build-image.yaml
  .github/workflows/test-build.yaml
Due: detect-secrets

Update CODEOWNERS
  .github/CODEOWNERS
Due: detect-secrets

Migrating GIST from https://gist.github.com/bsieber-mozilla/314636a777a309ef4d305578a6d19fcc into repo
  ctms/bin/flatten_subscriptions_from_firestore_export.py
Due: pylint, mypy, detect-secrets, isort, black

Use new method to install poetry, upgrade to 1.2
  docker/Dockerfile
  docs/developer_setup.md
Due: detect-secrets

Install poetry with `pip`
  docker/Dockerfile
Due: detect-secrets

Use new method to install poetry, upgrade to 1.2 (#418)
  docker/Dockerfile
  docs/developer_setup.md
Due: detect-secrets

Adds a new newsletter for Graceland
  ctms/acoustic_service.py
  tests/unit/test_acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Temporarily disable / comment out "For Update" in SQL queries
  ctms/ingest_stripe.py
  tests/unit/test_crud.py
  tests/unit/test_ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Temporarily disable / comment out "For Update" in SQL queries (#426)
  ctms/ingest_stripe.py
  tests/unit/test_crud.py
  tests/unit/test_ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Version bump: 1.8.2
  ctms/app.py
  pyproject.toml
Due: pylint, mypy, detect-secrets, isort, black

Updating tests for linter
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Temporarily comment out remaining `FOR UPDATE` clauses
  ctms/crud.py
  ctms/ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Temporarily comment out remaining `FOR UPDATE` clauses (#430)
  ctms/crud.py
  ctms/ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Revert FOR UPDATE commits
  ctms/crud.py
  ctms/ingest_stripe.py
  tests/unit/test_crud.py
  tests/unit/test_ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Revert FOR UPDATE commits (#432)
  ctms/crud.py
  ctms/ingest_stripe.py
  tests/unit/test_crud.py
  tests/unit/test_ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Revert version bump
  ctms/app.py
  pyproject.toml
Due: pylint, mypy, detect-secrets, isort, black

Allow manually triggering deploys to stage
  .github/workflows/build-image.yaml
Due: detect-secrets

Allow manually triggering deploys to stage (#436)
  .github/workflows/build-image.yaml
Due: detect-secrets

Use correct syntax for workflow_dispatch check
  .github/workflows/build-image.yaml
Due: detect-secrets

Remove assertions about the text of SQL statements
  tests/unit/test_ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Manage line item deletion in SQL
  ctms/ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Aligning version practices throughout services. Removing python package versioning, setting internal defaults to 0/v0.0.0, which are overwritten by git-tags.
  ctms/app.py
  pyproject.toml
  version.json
Due: pylint, mypy, detect-secrets, isort, black

Manage subscription item deletion in SQL
  ctms/ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Remove more assertions about the text of SQL statements
  tests/unit/test_ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

use key_share kwarg in with_for_update
  ctms/crud.py
Due: pylint, mypy, detect-secrets, isort, black

Use kwarg to use SELECT ... FOR NO KEY UPDATE
  tests/unit/test_crud.py
  tests/unit/test_ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Add index on foreign key for stripe_price and stripe_invoice id
  ctms/models.py
  migrations/versions/20221109_406251207612_adding_index_for_stripe_invoice_line_.py
Due: pylint, mypy, detect-secrets, isort, black

Add index on foreign key for stripe_price and stripe_invoice id (#445)
  ctms/models.py
  migrations/versions/20221109_406251207612_adding_index_for_stripe_invoice_line_.py
Due: pylint, mypy, detect-secrets, isort, black

chore(prometheus-client): Revert prometheus client upgrade as it is blocking image building for mypy
  poetry.lock
  pyproject.toml
Due: detect-secrets

chore(prometheus-client): Revert prometheus client upgrade as it is blocking image building for mypy (#454)
  poetry.lock
  pyproject.toml
Due: detect-secrets

Store list of Acoustic fields in the database
  ctms/acoustic_service.py
  ctms/models.py
  ctms/sync.py
  migrations/versions/20221111_06f24cc01c09_add_acoustic_field.py
  tests/unit/conftest.py
  tests/unit/test_acoustic_service.py
  tests/unit/test_sync.py
Due: pylint, mypy, detect-secrets, isort, black

Add command to add/remove Acoustic fields
  ctms/bin/acoustic_fields.py
  docs/deployment_guide.md
Due: pylint, mypy, detect-secrets, isort, black

Run Alembic migrations in tests setup
  migrations/env.py
  tests/unit/conftest.py
Due: pylint, mypy, detect-secrets, isort, black

Adjust tests now that test DB has real data
  tests/unit/conftest.py
  tests/unit/test_acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Rebase migration revisions
  migrations/versions/20221111_06f24cc01c09_add_acoustic_field.py
Due: mypy, detect-secrets, isort, black

Address @grahamalama and @bsieber-mozilla feedback
  ctms/bin/acoustic_fields.py
  tests/unit/conftest.py
Due: pylint, mypy, detect-secrets, isort, black

Use pylint: disable-next
  tests/unit/conftest.py
Due: pylint, mypy, detect-secrets, isort, black

Ref #256: Store list of Acoustic fields in the database (#448)
  ctms/acoustic_service.py
  ctms/bin/acoustic_fields.py
  ctms/models.py
  ctms/sync.py
  docs/deployment_guide.md
  migrations/env.py
  migrations/versions/20221111_06f24cc01c09_add_acoustic_field.py
  tests/unit/conftest.py
  tests/unit/test_acoustic_service.py
  tests/unit/test_sync.py
Due: pylint, mypy, detect-secrets, isort, black
