Repository mozilla-it/ctms-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, detect-secrets, isort, black

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

detect-secrets:
  name: detect-secrets
  entry: poetry run detect-secrets-hook
  args:
  - --baseline
  - .secrets.baseline
  language: system

isort:
  name: isort
  entry: poetry run isort
  args:
  - --recursive
  - --settings-path
  - ./pyproject.toml
  - .
  language: system

black:
  name: black
  entry: poetry run black
  args:
  - --config
  - ./pyproject.toml
  - .
  language: system

Rewrite POST tests
  tests/unit/routers/contacts/test_api_post.py
Due: pylint, mypy, detect-secrets, isort, black

Rewrite PUT tests
  tests/unit/routers/contacts/test_api_put.py
Due: pylint, mypy, detect-secrets, isort, black

Leverage Dockerflow request summary
  ctms/app.py
  ctms/auth.py
  ctms/dependencies.py
  ctms/log.py
  ctms/metrics.py
  ctms/routers/platform.py
  tests/unit/routers/contacts/test_api_post.py
  tests/unit/routers/contacts/test_api_put.py
  tests/unit/test_log.py
Due: pylint, mypy, detect-secrets, isort, black

Remove useless ctms.web logger
  ctms/app.py
  ctms/log.py
  tests/unit/routers/contacts/test_api_post.py
  tests/unit/routers/contacts/test_api_put.py
  tests/unit/routers/test_platform.py
  tests/unit/test_auth.py
  tests/unit/test_log.py
Due: pylint, mypy, detect-secrets, isort, black

Simplify docs about logging
  docs/deployment_guide.md
Due: detect-secrets

Split test logging config
  ctms/log.py
  tests/unit/conftest.py
Due: pylint, mypy, detect-secrets, isort, black

Rewrite most `POST` and `PUT` tests (#958)
  Makefile
  ctms/models.py
  migrations/versions/20240807_3689b813fe22_default_email_id_on_insert.py
  tests/factories/models.py
  tests/unit/routers/contacts/test_api_post.py
  tests/unit/routers/contacts/test_api_put.py
Due: pylint, mypy, detect-secrets, isort, black

Fixing dependabot PR check
  .github/workflows/ci.yaml
Due: detect-secrets

Fixing dependabot PR check (#966)
  .github/workflows/ci.yaml
Due: detect-secrets

Leverage Dockerflow request summary (#959)
  ctms/app.py
  ctms/auth.py
  ctms/dependencies.py
  ctms/log.py
  ctms/metrics.py
  ctms/routers/platform.py
  docs/deployment_guide.md
  tests/unit/conftest.py
  tests/unit/routers/contacts/test_api_post.py
  tests/unit/routers/contacts/test_api_put.py
  tests/unit/routers/test_platform.py
  tests/unit/test_auth.py
  tests/unit/test_log.py
Due: pylint, mypy, detect-secrets, isort, black

Data migration to migrate de/fr users from KIP to Firefox News
  migrations/versions/20240923_8181a9a3df53_migrate_de_fr_kip_to_fxn_deng_4402.py
Due: mypy, detect-secrets, isort, black

Update name of "Firefox News" newsletter
  migrations/versions/20240923_8181a9a3df53_migrate_de_fr_kip_to_fxn_deng_4402.py
Due: mypy, detect-secrets, isort, black

Move fixtures and constants from conftest to modules
  tests/unit/conftest.py
  tests/unit/routers/contacts/test_api.py
  tests/unit/routers/contacts/test_api_put.py
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Remove use of `sample_contacts` fixture
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Replace minimal / maximal contacts in another test
  tests/unit/routers/contacts/test_private_api.py
Due: pylint, mypy, detect-secrets, isort, black

Remove test get for maximal contact test
  tests/unit/routers/contacts/test_api_get.py
Due: pylint, mypy, detect-secrets, isort, black

Switch default email format to HTML
  tests/factories/models.py
Due: pylint, mypy, detect-secrets, isort, black

rename test to avoid "minimal_contact" in name
  tests/unit/routers/contacts/test_api_get.py
Due: pylint, mypy, detect-secrets, isort, black

Change test_get_identity_by_email_id and test_patch_one_new_value
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/routers/contacts/test_private_api.py
Due: pylint, mypy, detect-secrets, isort, black

Provide values that are likely to be randomly generated
  tests/unit/routers/contacts/test_api_patch.py
Due: pylint, mypy, detect-secrets, isort, black

Remove now-unused fixtures
  tests/unit/conftest.py
Due: pylint, mypy, detect-secrets, isort, black

Remove more complex / indirect fixtures used in tests (#975)
  tests/factories/models.py
  tests/unit/conftest.py
  tests/unit/routers/contacts/test_api.py
  tests/unit/routers/contacts/test_api_get.py
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/routers/contacts/test_api_put.py
  tests/unit/routers/contacts/test_private_api.py
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Get rid of Dockerfile syntax warning
  Dockerfile
Due: detect-secrets

Get rid of Dockerfile syntax warning (#978)
  Dockerfile
Due: detect-secrets

Fix #238: migration to backport prod index
  migrations/versions/20241001_8433b007b38a_index_backport.py
Due: mypy, detect-secrets, isort, black

Revert "Fix #238: migration to backport prod index"
  migrations/versions/20241001_8433b007b38a_index_backport.py
Due: mypy, detect-secrets, isort, black

Rely on sqlalchemy and alembic to align code and prod db
  ctms/models.py
  migrations/versions/20241008_fd04e56b249e_add_uniqueness_to_index.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #238: migration to backport prod index (#979)
  ctms/models.py
  migrations/versions/20241008_fd04e56b249e_add_uniqueness_to_index.py
Due: pylint, mypy, detect-secrets, isort, black

Add workflow to build + push image to GAR from this repo
  .github/workflows/build.yaml
Due: detect-secrets

don't strip the g from git describe --tags
  .github/workflows/build.yaml
Due: detect-secrets

Add workflow to build + push image to GAR from this repo (#984)
  .github/workflows/build.yaml
Due: detect-secrets

GHA variables are accessed by `vars`
  .github/workflows/build.yaml
Due: detect-secrets

Add permissions block to `bulid` workflow
  .github/workflows/build.yaml
Due: detect-secrets

`vars.GCPV2_GITHUB_WORKLOAD_IDENTITY_PROVIDER` is full path to provider
  .github/workflows/build.yaml
Due: detect-secrets

Use docker/setup-buildx-action in build workflow
  .github/workflows/build.yaml
Due: detect-secrets

Update integration tests to use recent basket image
  docker-compose.yaml
  tests/integration/basket.env
Due: detect-secrets

Run 'poetry update'
  poetry.lock
Due: none

Change codeowners from syseng to `ctms-reviewers`
  .github/CODEOWNERS
Due: detect-secrets

Path conditions:
  pylint: any of: \.py$, but not: ^migrations/
  mypy: any of: \.py$
  detect-secrets: any file but: poetry.lock
  isort: any of: \.py$
  black: any of: \.py$
