Repository mozilla-it/ctms-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, detect-secrets, isort, black

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

detect-secrets:
  name: detect-secrets
  entry: poetry run detect-secrets-hook
  args:
  - --baseline
  - .secrets.baseline
  language: system

isort:
  name: isort
  entry: poetry run isort
  args:
  - --recursive
  - --settings-path
  - ./pyproject.toml
  - .
  language: system

black:
  name: black
  entry: poetry run black
  args:
  - --config
  - ./pyproject.toml
  - .
  language: system

Remove watcher assertions from test_crud
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Remove StatementWatcher class
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Remove SQL assertions (#520)
  tests/unit/test_crud.py
  tests/unit/test_ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Remove guard in .env rule
  Makefile
Due: detect-secrets

Streamline environment bootstrapping, move contents of `docker/` to top level (#510)
  .env.example
  .github/workflows/build-image.yaml
  .github/workflows/test-build.yaml
  .gitignore
  .secrets.baseline
  Dockerfile
  Makefile
  bin/update_baseline.sh
  docker-compose.yaml
  docker/config/env.dist
  docker/config/local_dev.env
  docker/log_config.json
  docs/configuration.md
  pyproject.toml
Due: detect-secrets

Import declarative_base from ORM
  ctms/database.py
Due: pylint, mypy, detect-secrets, isort, black

Remove comment about SqlAlchemy 1.4 upgrade
  pyproject.toml
Due: detect-secrets

Move database access to globals
  ctms/app.py
  ctms/database.py
Due: pylint, mypy, detect-secrets, isort, black

Update scripts to use new db access methods
  ctms/bin/acoustic_fields.py
  ctms/bin/acoustic_newsletters_mapping.py
  ctms/bin/acoustic_sync.py
  ctms/bin/add_stripe_data_to_acoustic_queue.py
  ctms/bin/client_credentials.py
  ctms/bin/ingest_stripe_data.py
  migrations/env.py
Due: pylint, mypy, detect-secrets, isort, black

Modify database fixtures
  tests/unit/conftest.py
  tests/unit/test_api_patch.py
  tests/unit/test_app.py
  tests/unit/test_auth.py
  tests/unit/test_metrics.py
  tests/unit/test_monitor.py
Due: pylint, mypy, detect-secrets, isort, black

Update .secrets.baseline
  .secrets.baseline
Due: detect-secrets

Add env vars for initializing settings to linting
  .github/workflows/lint.yaml
  .secrets.baseline
Due: detect-secrets

Add comment to SQLAlchemy docs for dbsession fixture
  tests/unit/conftest.py
Due: pylint, mypy, detect-secrets, isort, black

Align versions of Python@3.10.9 and Poetry@1.3.2
  .github/workflows/lint.yaml
  .github/workflows/test-build.yaml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: detect-secrets

Add docs for finding + replacing versions of python and poetry
  docs/developer_setup.md
Due: detect-secrets

Update lockfile
  poetry.lock
Due: none

Update secrets-baseline
  .secrets.baseline
Due: detect-secrets

Align versions of Python@3.10.9 and Poetry@1.3.2 (#522)
  .github/workflows/lint.yaml
  .github/workflows/test-build.yaml
  .secrets.baseline
  Dockerfile
  docs/developer_setup.md
  poetry.lock
  pyproject.toml
Due: detect-secrets

Refactor handling of newsletters unsubscription
  ctms/backport_legacy_waitlists.py
Due: pylint, mypy, detect-secrets, isort, black

Unsubscribe from vpn waitlist when unsubscribing from guardian-vpn
  ctms/backport_legacy_waitlists.py
  tests/unit/test_api_patch.py
Due: pylint, mypy, detect-secrets, isort, black

Bump Python to 3.11.1
  .github/workflows/lint.yaml
  .github/workflows/test-build.yaml
  Dockerfile
  ctms/app.py
  ctms/ingest.py
  ctms/sync.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, detect-secrets, isort, black

Formatting fixes
  ctms/app.py
  ctms/ingest.py
  ctms/sync.py
Due: pylint, mypy, detect-secrets, isort, black

Bump Python to 3.11.1 (#532)
  .github/workflows/lint.yaml
  .github/workflows/test-build.yaml
  Dockerfile
  ctms/app.py
  ctms/ingest.py
  ctms/sync.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, detect-secrets, isort, black

Reformat using latest black version
  ctms/bin/client_credentials.py
  ctms/crud.py
  ctms/ingest_stripe.py
  ctms/schemas/mofo.py
  tests/unit/test_acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

@grahamalama review
  tests/unit/test_acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Ref #469: Unsubscribe from `vpn` waitlist when unsubscribing from `guardian-vpn-waitlist` newsletter (#530)
  ctms/backport_legacy_waitlists.py
  tests/unit/test_api_patch.py
Due: pylint, mypy, detect-secrets, isort, black

:facepalm
  tests/unit/test_acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Run formatting black 23.1.0 (#538)
  ctms/bin/client_credentials.py
  ctms/crud.py
  ctms/ingest_stripe.py
  ctms/schemas/mofo.py
  tests/unit/test_acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #545: allow empty string in waitlist platform field
  ctms/schemas/waitlist.py
  tests/unit/test_schema_waitlist.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #507: relax source URL validation
  ctms/schemas/newsletter.py
  tests/unit/test_schema_contact.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #545: allow empty string in waitlist platform field (#546)
  ctms/schemas/waitlist.py
  tests/unit/test_schema_waitlist.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #507: relax source URL validation (#547)
  ctms/schemas/newsletter.py
  tests/unit/test_schema_contact.py
Due: pylint, mypy, detect-secrets, isort, black

feat(gdpr): add gdpr delete endpoint
  ctms/app.py
  ctms/crud.py
  ctms/schemas/__init__.py
  ctms/schemas/response.py
Due: pylint, mypy, detect-secrets, isort, black

feat(gdpr): add gdpr delete script
  ctms/app.py
  ctms/bin/gdpr
  ctms/crud.py
  ctms/schemas/__init__.py
  ctms/schemas/response.py
  tests/unit/test_api.py
  tests/unit/test_api_delete.py
  tests/unit/test_metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #240, #529: Add GDPR deletion endpoint (#548)
  ctms/app.py
  ctms/bin/gdpr
  ctms/crud.py
  tests/unit/test_api.py
  tests/unit/test_api_delete.py
  tests/unit/test_metrics.py
Due: pylint, mypy, detect-secrets, isort, black

fix: fix IdentityResponse fields
  ctms/schemas/contact.py
Due: pylint, mypy, detect-secrets, isort, black

feat: test deleting contacts that set nothing but a primary_email
  tests/unit/conftest.py
  tests/unit/sample_data.py
  tests/unit/test_api_delete.py
Due: pylint, mypy, detect-secrets, isort, black

Ref #548: make basket_token field optional in contact responses body (#551)
  ctms/schemas/contact.py
  tests/unit/conftest.py
  tests/unit/sample_data.py
  tests/unit/test_api_delete.py
Due: pylint, mypy, detect-secrets, isort, black

Install factory-boy
  poetry.lock
  pyproject.toml
Due: detect-secrets

Add pytest-factoryboy
  poetry.lock
  pyproject.toml
Due: detect-secrets

Path conditions:
  pylint: any of: \.py$, but not: ^migrations/
  mypy: any of: \.py$
  detect-secrets: any file but: poetry.lock
  isort: any of: \.py$
  black: any of: \.py$
