Repository mozilla-it/ctms-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, detect-secrets, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        exclude: ^migrations/
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
        exclude: 'k8s/secret.json'
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: 'k8s/secret.json'
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: poetry run bandit
        args: [-lll, --recursive]
        language: system
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: poetry run detect-secrets-hook
        args: ['--baseline', '.secrets.baseline']
        exclude: "poetry.lock"
        language: system
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.3
    hooks:
      - id: seed-isort-config
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--recursive", "--settings-path", "./pyproject.toml", "."]
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        args: ["--config","./pyproject.toml", "."]
        types: [python]
        language: system

Add link to sre mana page
  docs/deployment_guide.md
Due: detect-secrets

Updating configuration documentation
  ctms/config.py
  docs/configuration.md
Due: pylint, mypy, detect-secrets, isort, black

Raise StripeIngestFxAIdConflict on customer ingest
  ctms/crud.py
  ctms/ingest_stripe.py
  tests/unit/test_crud.py
  tests/unit/test_ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Add actions to stripe ingesters, logs
  ctms/app.py
  ctms/ingest_stripe.py
  tests/unit/test_api_stripe.py
  tests/unit/test_ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Add "no_change" action, fix updates in ingesters
  ctms/ingest_stripe.py
  tests/unit/test_ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Add docs for new log context
  docs/deployment_guide.md
Due: detect-secrets

Delete existing Stripe customer with FxA conflict
  ctms/app.py
  tests/unit/test_api_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Narrow try block in _process_stripe_object
  ctms/app.py
  tests/unit/test_api_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Update to lxml 4.7.1
  poetry.lock
  pyproject.toml
Due: detect-secrets

Release 1.1.2 - Improve /stripe_from_pubsub ingest
  ctms/app.py
  pyproject.toml
Due: pylint, mypy, detect-secrets, isort, black

Updating lines from cinchy/basket to avoid incorrect presentation of communication between aformentioned systems.
  docs/diagrams/ctms_general_overview.svg
Due: detect-secrets

Handle POST of new deleted customer
  ctms/app.py
  tests/unit/test_api_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Prepare for 1.1.3 release
  ctms/app.py
  pyproject.toml
Due: pylint, mypy, detect-secrets, isort, black

Add RelayWait list table
  ctms/models.py
  migrations/versions/20220118_5ec00d566777_add_relay_waitlist.py
Due: pylint, mypy, detect-secrets, isort, black

Adding Relay Waitlist; following VPN Waitlist pattern at this time.
  ctms/acoustic_service.py
  ctms/app.py
  ctms/crud.py
  ctms/models.py
  ctms/schemas/__init__.py
  ctms/schemas/contact.py
  ctms/schemas/relay.py
  migrations/versions/20220118_6c7724982996_adding_relaywaitlist.py
  tests/unit/sample_data.py
  tests/unit/test_acoustic_service.py
  tests/unit/test_api_get.py
  tests/unit/test_api_patch.py
Due: pylint, mypy, detect-secrets, isort, black

Adding nonetype scenario
  tests/unit/test_api_stripe.py
Due: pylint, mypy, detect-secrets, isort, black

Using proposed solution from issue #354
  ctms/app.py
Due: pylint, mypy, detect-secrets, isort, black

Version bump: 1.1.4
  ctms/app.py
  pyproject.toml
Due: pylint, mypy, detect-secrets, isort, black

Update codeowners to be SysEng
  .github/CODEOWNERS
Due: detect-secrets

Adding db migration
  migrations/versions/20220118_6c7724982996_adding_relaywaitlist.py
Due: mypy, detect-secrets, isort, black

Adding relay waitlist to models and apis...
  ctms/acoustic_service.py
  ctms/app.py
  ctms/crud.py
  ctms/models.py
  ctms/schemas/__init__.py
  ctms/schemas/contact.py
  ctms/schemas/relay.py
  tests/unit/sample_data.py
  tests/unit/test_acoustic_service.py
  tests/unit/test_api_get.py
  tests/unit/test_api_patch.py
Due: pylint, mypy, detect-secrets, isort, black

Adding new newsletter.
  ctms/acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Version Bump
  ctms/app.py
  pyproject.toml
Due: pylint, mypy, detect-secrets, isort, black

Adjust tests
  tests/unit/test_acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Newsletter mapping update.
  ctms/acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Update acoustic_service.py
  ctms/acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

V1.2.0
  ctms/app.py
  pyproject.toml
Due: pylint, mypy, detect-secrets, isort, black

Update CODEOWNERS
  .github/CODEOWNERS
Due: detect-secrets

Version v1.3.0: db migration
  ctms/app.py
  pyproject.toml
Due: pylint, mypy, detect-secrets, isort, black

Document workflow from Basket to Acoustic
  docs/diagrams/bedrock_basket_ctms.md
Due: detect-secrets

Rename diagram filename
  docs/diagrams/bedrock_basket_ctms_acoustic.md
Due: detect-secrets

Replace mozilla.org by Bedrock
  docs/diagrams/bedrock_basket_ctms_acoustic.md
Due: detect-secrets

Adjust URLs in payload examples
  docs/diagrams/bedrock_basket_ctms_acoustic.md
Due: detect-secrets

Update docs/diagrams/bedrock_basket_ctms_acoustic.md
  docs/diagrams/bedrock_basket_ctms_acoustic.md
Due: detect-secrets

Update after conversation with Bryan
  docs/diagrams/bedrock_basket_ctms_acoustic.md
Due: detect-secrets

Document workflow from Bedrocks to Acoustic, through Basket and CTMS (#369)
  docs/diagrams/bedrock_basket_ctms_acoustic.md
Due: detect-secrets

Architecture change proposal: Basket inbox endpoint
  docs/adrs/basket-inbox.md
Due: detect-secrets

Version 1.4.0: New functionality for ingestion of relay_waitlist from API to Acoustic.
  ctms/app.py
  pyproject.toml
Due: pylint, mypy, detect-secrets, isort, black

Update poetry
  poetry.lock
Due: none
