Repository mozilla-it/ctms-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, detect-secrets, isort, black

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

detect-secrets:
  name: detect-secrets
  entry: poetry run detect-secrets-hook
  args:
  - --baseline
  - .secrets.baseline
  language: system

isort:
  name: isort
  entry: poetry run isort
  args:
  - --recursive
  - --settings-path
  - ./pyproject.toml
  - .
  language: system

black:
  name: black
  entry: poetry run black
  args:
  - --config
  - ./pyproject.toml
  - .
  language: system

Remove PendingAcousticRecord from stripe test
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #611: `ContactSchema` now reflects what is stored in database (#711)
  ctms/acoustic_service.py
  ctms/crud.py
  ctms/schemas/__init__.py
  ctms/schemas/contact.py
  ctms/schemas/newsletter.py
  tests/unit/conftest.py
  tests/unit/routers/contacts/test_api.py
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/routers/contacts/test_bulk.py
  tests/unit/test_acoustic_service.py
  tests/unit/test_backport_legacy_waitlists.py
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Update ctms/schemas/waitlist.py
  ctms/schemas/waitlist.py
Due: pylint, mypy, detect-secrets, isort, black

Subscribed field not nullable
  ctms/models.py
Due: pylint, mypy, detect-secrets, isort, black

Rely on pytest verbose flag to debug retries of failing assertions
  bin/integration-test.sh
  tests/integration/test_basket_waitlist_subscription.py
Due: pylint, mypy, detect-secrets, isort, black

Delete test for waitlist migrations
  tests/unit/test_backport_legacy_waitlists.py
Due: pylint, mypy, detect-secrets, isort, black

Remove now-unneeded imports
  tests/unit/test_backport_legacy_waitlists.py
Due: pylint, mypy, detect-secrets, isort, black

Add ADR to explain the subscribed choice
  docs/adrs/waitlists_subscribed.md
Due: detect-secrets

Ref #711: follow-up after schema cleanup
  ctms/schemas/contact.py
Due: pylint, mypy, detect-secrets, isort, black

Create mixin for create and update timestamp columns
  ctms/models.py
  migrations/versions/20230629_5bfd08b53489_create_update_timestamp_mixin.py
Due: pylint, mypy, detect-secrets, isort, black

Ref #711: follow-up after schema cleanup (#721)
  ctms/schemas/contact.py
Due: pylint, mypy, detect-secrets, isort, black

Ref #492: drop write support of legacy vpn_waitlist and relay_waitlist fields
  ctms/backport_legacy_waitlists.py
  ctms/crud.py
  ctms/metrics.py
  ctms/schemas/__init__.py
  ctms/schemas/contact.py
  ctms/schemas/waitlist.py
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/test_backport_legacy_waitlists.py
  tests/unit/test_metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Delete test for waitlist migrations (#720)
  tests/unit/test_backport_legacy_waitlists.py
Due: pylint, mypy, detect-secrets, isort, black

Re-evaluate the cost of the chosen solution
  docs/adrs/waitlists_subscribed.md
Due: detect-secrets

Add factories for Mofo and Amo
  tests/factories/models.py
Due: pylint, mypy, detect-secrets, isort, black

Replace "maximal_contact" in test_contact module
  tests/unit/schemas/test_contact.py
  tests/unit/schemas/test_newsletter.py
Due: pylint, mypy, detect-secrets, isort, black

Add mofo, waitlists, and amo options to Email factory
  tests/factories/models.py
Due: pylint, mypy, detect-secrets, isort, black

Move schema tests to `schemas` package
  tests/unit/schemas/test_contact.py
  tests/unit/schemas/test_waitlist.py
Due: pylint, mypy, detect-secrets, isort, black

Use email_factory for test_get_email
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Add pylint-ignores for new mixin columns
  ctms/crud.py
  ctms/models.py
Due: pylint, mypy, detect-secrets, isort, black

Mention unsub_reason and reevaluate costs
  docs/adrs/waitlists_subscribed.md
Due: detect-secrets

Start to remove most contact fixtures (#724)
  tests/factories/models.py
  tests/unit/schemas/test_contact.py
  tests/unit/schemas/test_newsletter.py
  tests/unit/schemas/test_waitlist.py
  tests/unit/test_crud.py
  tests/unit/test_schema_contact.py
Due: pylint, mypy, detect-secrets, isort, black

Add PendingAcousticRecordFactory
  tests/factories/models.py
  tests/unit/conftest.py
Due: pylint, mypy, detect-secrets, isort, black

Refactor acoustic crud tests
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Refactor Acoustic crud tests (#725)
  tests/factories/models.py
  tests/unit/conftest.py
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Adjust conclusion after meeting w/ Graham
  docs/adrs/waitlists_subscribed.md
Due: detect-secrets

Add template and number prefix to ADRs docs
  docs/adrs/001-madr-fxa-ctms.md
  docs/adrs/002-waitlists_relationships.md
  docs/adrs/template.md
Due: detect-secrets

Fix #730: Add default schema for waitlists
  ctms/schemas/waitlist.py
  tests/unit/schemas/test_waitlist.py
Due: pylint, mypy, detect-secrets, isort, black

Add create and update timestamps to EmailFactory
  tests/factories/models.py
Due: pylint, mypy, detect-secrets, isort, black

Refactor tests for get_bulk_contacts
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Create mixin for create and update timestamp columns (#723)
  ctms/crud.py
  ctms/models.py
  migrations/versions/20230629_5bfd08b53489_create_update_timestamp_mixin.py
Due: pylint, mypy, detect-secrets, isort, black

Add template and number prefix to ADRs docs (#728)
  docs/adrs/001-madr-fxa-ctms.md
  docs/adrs/002-waitlists_relationships.md
  docs/adrs/template.md
Due: detect-secrets

Add `subscribed`/`unsub_reason` fields to waitlist (#707)
  Makefile
  bin/integration-test.sh
  ctms/crud.py
  ctms/models.py
  ctms/schemas/contact.py
  ctms/schemas/waitlist.py
  docs/adrs/waitlists_subscribed.md
  migrations/versions/20230619_2a0489304e03_add_subscribed_unsub_reason_to_waitlist.py
  tests/factories/models.py
  tests/integration/test_basket_waitlist_subscription.py
  tests/unit/conftest.py
  tests/unit/routers/contacts/test_api_get.py
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/test_backport_legacy_waitlists.py
Due: pylint, mypy, detect-secrets, isort, black

Fix database migration history
  migrations/versions/20230629_5bfd08b53489_create_update_timestamp_mixin.py
Due: mypy, detect-secrets, isort, black

Pin Basket to 2023-04-24
  docker-compose.yaml
Due: detect-secrets

Delete AWS build + deploy workflow
  .github/workflows/build-image.yaml
Due: detect-secrets

Pin Basket to 2023-04-24 (#738)
  docker-compose.yaml
Due: detect-secrets

Fix database migration history (#736)
  migrations/versions/20230629_5bfd08b53489_create_update_timestamp_mixin.py
Due: mypy, detect-secrets, isort, black

Pin Basket worker to 2023-04-24
  docker-compose.yaml
Due: detect-secrets

Pin Basket worker to 2023-04-24 (#741)
  docker-compose.yaml
Due: detect-secrets

Path conditions:
  pylint: any of: \.py$, but not: ^migrations/
  mypy: any of: \.py$
  detect-secrets: any file but: poetry.lock
  isort: any of: \.py$
  black: any of: \.py$
