Repository mozilla-it/ctms-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, detect-secrets, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        exclude: ^migrations/
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
        exclude: 'k8s/secret.json'
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: 'k8s/secret.json'
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: poetry run bandit
        args: [-lll, --recursive]
        language: system
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: poetry run detect-secrets-hook
        args: ['--baseline', '.secrets.baseline']
        exclude: "poetry.lock"
        language: system
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.3
    hooks:
      - id: seed-isort-config
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--recursive", "--settings-path", "./pyproject.toml", "."]
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        args: ["--config","./pyproject.toml", "."]
        types: [python]
        language: system

Fix special boolean text values on the main table
  ctms/acoustic_service.py
  tests/unit/test_acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Fix comment
  ctms/acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Fix special boolean text values on the main table (#804)
  ctms/acoustic_service.py
  tests/unit/test_acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #802: clarify sync behaviour in test
  ctms/acoustic_service.py
  tests/unit/test_acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #802: clarify sync behaviour in test (#805)
  ctms/acoustic_service.py
  tests/unit/test_acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #806: reset retry and last_error columns on resync command
  ctms/crud.py
  tests/unit/bin/test_acoustic.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #812: fix Acoustic create_timestamp column
  ctms/acoustic_service.py
  tests/unit/test_acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Fix issue number in comment
  ctms/acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #812: fix Acoustic create_timestamp column (#813)
  ctms/acoustic_service.py
  tests/unit/test_acoustic_service.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #814: add timestamps to newsletters and waitlists in contact responses
  ctms/schemas/contact.py
  ctms/schemas/newsletter.py
  ctms/schemas/waitlist.py
  tests/integration/test_basket_waitlist_subscription.py
  tests/unit/routers/contacts/test_api_get.py
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/routers/contacts/test_bulk.py
Due: pylint, mypy, detect-secrets, isort, black

Ref #806: prevent duplicate entries in pending records table
  ctms/crud.py
  ctms/models.py
  migrations/versions/20230915_375dd57cfed1_add_unicity_constraint_in_pending_.py
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #806: reset retry and last_retry on resync command
  ctms/crud.py
  tests/unit/bin/test_acoustic.py
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Flush db before scheduling pending record
  ctms/routers/contacts.py
Due: pylint, mypy, detect-secrets, isort, black

@grahamalama feedback
  ctms/models.py
  ctms/routers/contacts.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #806: fix unicity of pending records and reset columns on resync command (#822)
  ctms/crud.py
  ctms/models.py
  ctms/routers/contacts.py
  migrations/versions/20230915_375dd57cfed1_add_unicity_constraint_in_pending_.py
  tests/unit/bin/test_acoustic.py
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Rewrite datetime comparisons in tests
  tests/conftest.py
  tests/integration/test_basket_waitlist_subscription.py
  tests/unit/routers/contacts/test_api_patch.py
Due: pylint, mypy, detect-secrets, isort, black

Add docstring to test helper
  tests/conftest.py
Due: pylint, mypy, detect-secrets, isort, black

Ref #492, do not send legacy metric if new waitlist attribute is used
  ctms/backport_legacy_waitlists.py
  tests/unit/test_metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Ref #492, do not send legacy metric if new waitlist attribute is used (#831)
  ctms/backport_legacy_waitlists.py
  tests/unit/test_metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #811: delete duplicate entries before adding constraint
  migrations/versions/20230915_375dd57cfed1_add_unicity_constraint_in_pending_.py
Due: mypy, detect-secrets, isort, black

Fix #811: delete duplicate entries before adding constraint (#833)
  migrations/versions/20230915_375dd57cfed1_add_unicity_constraint_in_pending_.py
Due: mypy, detect-secrets, isort, black

Rename Whatever to FuzzyAssert
  tests/conftest.py
  tests/integration/test_basket_waitlist_subscription.py
  tests/unit/routers/contacts/test_api_patch.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #814: add timestamps to newsletters and waitlists in contact responses (#816)
  ctms/schemas/contact.py
  ctms/schemas/newsletter.py
  ctms/schemas/waitlist.py
  tests/conftest.py
  tests/integration/test_basket_waitlist_subscription.py
  tests/unit/routers/contacts/test_api_get.py
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/routers/contacts/test_bulk.py
Due: pylint, mypy, detect-secrets, isort, black

Add precision to waitlist sync documentation
  docs/deployment_guide.md
Due: detect-secrets

Fix #840: use version number in Sentry environment
  ctms/exception_capture.py
Due: pylint, mypy, detect-secrets, isort, black

Add precision to waitlist sync documentation (#839)
  docs/deployment_guide.md
Due: detect-secrets

Fix #840: use version number in Sentry environment (#841)
  ctms/exception_capture.py
Due: pylint, mypy, detect-secrets, isort, black

Update deployment_guide.md
  docs/deployment_guide.md
Due: detect-secrets

Remove docs that were moved to Mana
  docs/deployment_guide.md
Due: detect-secrets

Bump FastAPI and Starlette, add httpx
  poetry.lock
  pyproject.toml
  tests/unit/conftest.py
  tests/unit/routers/contacts/test_api_post.py
  tests/unit/routers/contacts/test_api_put.py
  tests/unit/test_auth.py
  tests/unit/test_log.py
Due: pylint, mypy, detect-secrets, isort, black

Fix formatting, typing issue
  ctms/auth.py
  tests/unit/routers/contacts/test_api_post.py
Due: pylint, mypy, detect-secrets, isort, black

Fix non-json test assertions
  tests/unit/routers/contacts/test_api_post.py
  tests/unit/routers/contacts/test_api_put.py
Due: pylint, mypy, detect-secrets, isort, black

Update Python versions, poetry, Sqlalchemy, and some transitive deps
  .github/workflows/ci.yaml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: detect-secrets

Bump Bandit and stevedore as well
  poetry.lock
  pyproject.toml
Due: detect-secrets

Fix lock merge
  poetry.lock
Due: none

Update Python versions, `poetry`, `sqlalchemy`, and some transitive deps (#868)
  .github/workflows/ci.yaml
  Dockerfile
  poetry.lock
  pyproject.toml
Due: detect-secrets

Bump `FastAPI` and `Starlette`, add `httpx` (#867)
  ctms/auth.py
  poetry.lock
  pyproject.toml
  tests/unit/conftest.py
  tests/unit/routers/contacts/test_api_post.py
  tests/unit/routers/contacts/test_api_put.py
  tests/unit/test_auth.py
  tests/unit/test_log.py
Due: pylint, mypy, detect-secrets, isort, black

Turn CSV into SQL files
  suppression-list/README.md
  suppression-list/csv2optout.py
  suppression-list/example.csv
Due: pylint, mypy, detect-secrets, isort, black

Document how to create a sandbox database locally
  suppression-list/README.md
Due: detect-secrets

Pending record as option
  suppression-list/csv2optout.py
Due: pylint, mypy, detect-secrets, isort, black
