Repository mozilla-it/ctms-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, detect-secrets, isort, black

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        exclude: ^migrations/
        types: [python]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: check-added-large-files
      - id: check-json
        exclude: 'k8s/secret.json'
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: pretty-format-json
        args: [
          '--autofix',
          '--indent', '4',
          '--no-sort-keys',
        ]
        exclude: 'k8s/secret.json'
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: poetry run bandit
        args: [-lll, --recursive]
        language: system
  - repo: local
    hooks:
      - id: detect-secrets
        name: detect-secrets
        entry: poetry run detect-secrets-hook
        args: ['--baseline', '.secrets.baseline']
        exclude: "poetry.lock"
        language: system
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.3
    hooks:
      - id: seed-isort-config
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        args: ["--recursive", "--settings-path", "./pyproject.toml", "."]
        language: system
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black
        args: ["--config","./pyproject.toml", "."]
        types: [python]
        language: system

Modify logging for Uvicorn
  asgi.py
  ctms/app.py
  ctms/config.py
  ctms/log.py
  docker/Dockerfile
  docs/configuration.md
  tests/unit/test_log.py
Due: pylint, mypy, detect-secrets, isort, black

Move 'geo' field to 'fields'
  ctms/crud.py
  ctms/models.py
  ctms/schemas/contact.py
  ctms/schemas/waitlist.py
  migrations/versions/20221213_9c37ea9b5bba_add_waitlist_table.py
  migrations/versions/20221220_e446b56f38e1_remove_vpn_waitlist_field_and_table.py
  migrations/versions/20221222_4f6c48142631_remove_relay_waitlist_field_and_table.py
  tests/unit/sample_data.py
  tests/unit/test_api_get.py
  tests/unit/test_api_patch.py
  tests/unit/test_schema_waitlist.py
Due: pylint, mypy, detect-secrets, isort, black

Adjust unit tests for schema validation
  tests/unit/test_schema_waitlist.py
Due: pylint, mypy, detect-secrets, isort, black

feature(acoustic): add sync loop duration metric
  ctms/background_metrics.py
  ctms/bin/acoustic_sync.py
Due: pylint, mypy, detect-secrets, isort, black

Always run container with single Uvicorn process (#503)
  asgi.py
  ctms/app.py
  ctms/config.py
  ctms/log.py
  ctms/metrics.py
  docker/Dockerfile
  docker/docker-entrypoint.sh
  docker/gunicorn_conf.py
  docs/configuration.md
  poetry.lock
  pyproject.toml
  tests/unit/test_log.py
  tests/unit/test_metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Renumber options bullets
  docs/adrs/waitlists_relationships.md
Due: detect-secrets

Check written data in DB
  tests/unit/conftest.py
Due: pylint, mypy, detect-secrets, isort, black

Add `make` rule for update-secrets
  Makefile
Due: detect-secrets

Simplify Dockerfile
  bin/update_and_install_system_packages.sh
  docker/Dockerfile
Due: detect-secrets

Run tests outside Docker
  .github/workflows/test-build.yaml
  Makefile
  bin/test.sh
  docker-compose.yaml
  docker/test.sh
Due: detect-secrets

Move update_baseline to `bin/` directory
  bin/update_baseline.sh
  scripts/update_baseline.sh
Due: detect-secrets

Update documentation with new testing procedures
  README.md
  docs/developer_setup.md
  docs/testing_strategy.md
Due: detect-secrets

Update .secrets.baseline
  .secrets.baseline
Due: detect-secrets

Move testing outside Docker, simplify Dockerfile (#508)
  .github/workflows/test-build.yaml
  .secrets.baseline
  Makefile
  README.md
  bin/test.sh
  bin/update_and_install_system_packages.sh
  bin/update_baseline.sh
  docker-compose.yaml
  docker/Dockerfile
  docker/test.sh
  docs/developer_setup.md
  docs/testing_strategy.md
  scripts/update_baseline.sh
Due: detect-secrets

Report metrics when legacy waitlist format is used
  ctms/app.py
  ctms/crud.py
  ctms/metrics.py
  tests/unit/conftest.py
  tests/unit/test_api_patch.py
  tests/unit/test_metrics.py
Due: pylint, mypy, detect-secrets, isort, black

feature(acoustic): add sync loop duration metric (#497)
  ctms/background_metrics.py
  ctms/bin/acoustic_sync.py
Due: pylint, mypy, detect-secrets, isort, black

Backport relay waitlists records from newsletters subscriptions
  ctms/crud.py
  tests/unit/test_backport_legacy_waitlists.py
Due: pylint, mypy, detect-secrets, isort, black

Remove obsolete accessors (@grahamalama review)
  ctms/schemas/contact.py
  tests/unit/test_api_patch.py
Due: pylint, mypy, detect-secrets, isort, black

Relax source URL format (@grahamalama review)
  ctms/schemas/waitlist.py
Due: pylint, mypy, detect-secrets, isort, black

Split crud.py to make linting happy
  ctms/backport_legacy_waitlists.py
  ctms/crud.py
Due: pylint, mypy, detect-secrets, isort, black

Add TODOs for once Basket leverages waitlists
  ctms/schemas/contact.py
  ctms/schemas/waitlist.py
  tests/unit/test_api_patch.py
Due: pylint, mypy, detect-secrets, isort, black

Rephrase ADR notes about newsletters migration
  docs/adrs/waitlists_relationships.md
Due: detect-secrets

Make sure we cannot subscribe relay newsletters without Relay country
  ctms/backport_legacy_waitlists.py
  ctms/schemas/contact.py
  ctms/schemas/waitlist.py
  tests/unit/test_api_patch.py
  tests/unit/test_backport_legacy_waitlists.py
Due: pylint, mypy, detect-secrets, isort, black

Fix redundancy between relay and relay newsletters when subscribing
  ctms/backport_legacy_waitlists.py
  ctms/crud.py
  tests/unit/test_api_patch.py
  tests/unit/test_backport_legacy_waitlists.py
Due: pylint, mypy, detect-secrets, isort, black

Actually execute the SQL
  migrations/versions/20221220_e446b56f38e1_remove_vpn_waitlist_field_and_table.py
  migrations/versions/20221222_4f6c48142631_remove_relay_waitlist_field_and_table.py
Due: mypy, detect-secrets, isort, black

Fix migration of Relay newsletters
  ctms/database.py
  migrations/versions/20221222_4f6c48142631_remove_relay_waitlist_field_and_table.py
  tests/unit/conftest.py
Due: pylint, mypy, detect-secrets, isort, black

Fix linting
  ctms/backport_legacy_waitlists.py
  migrations/versions/20221222_4f6c48142631_remove_relay_waitlist_field_and_table.py
  tests/unit/test_backport_legacy_waitlists.py
Due: pylint, mypy, detect-secrets, isort, black

Add test for waitlist migration in Alembic
  tests/unit/test_backport_legacy_waitlists.py
Due: pylint, mypy, detect-secrets, isort, black

Fix tests with these 3 news contacts in DB
  tests/unit/test_backport_legacy_waitlists.py
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Fix #469: implement waitlists as generic relationship (#492)
  ctms/acoustic_service.py
  ctms/app.py
  ctms/backport_legacy_waitlists.py
  ctms/crud.py
  ctms/database.py
  ctms/ingest.py
  ctms/metrics.py
  ctms/models.py
  ctms/schemas/__init__.py
  ctms/schemas/contact.py
  ctms/schemas/relay.py
  ctms/schemas/vpn.py
  ctms/schemas/waitlist.py
  docs/adrs/waitlists_relationships.md
  migrations/versions/20221213_9c37ea9b5bba_add_waitlist_table.py
  migrations/versions/20221220_e446b56f38e1_remove_vpn_waitlist_field_and_table.py
  migrations/versions/20221222_4f6c48142631_remove_relay_waitlist_field_and_table.py
  tests/unit/conftest.py
  tests/unit/sample_data.py
  tests/unit/test_acoustic_service.py
  tests/unit/test_api.py
  tests/unit/test_api_get.py
  tests/unit/test_api_patch.py
  tests/unit/test_backport_legacy_waitlists.py
  tests/unit/test_bulk.py
  tests/unit/test_crud.py
  tests/unit/test_metrics.py
  tests/unit/test_schema_contact.py
  tests/unit/test_schema_waitlist.py
Due: pylint, mypy, detect-secrets, isort, black

Remove unused log_config.json file
  docker/log_config.json
Due: detect-secrets

Add poetry run to `update_baseline.sh`
  bin/update_baseline.sh
Due: detect-secrets

Move all env var bootstrapping to .env.example
  .env.example
  Makefile
  docker-compose.yaml
  docker/config/env.dist
  docker/config/local_dev.env
  docs/configuration.md
Due: detect-secrets

Move Dockerfile to root directory
  .github/workflows/build-image.yaml
  .github/workflows/test-build.yaml
  Dockerfile
  docker-compose.yaml
  pyproject.toml
Due: detect-secrets

remove `.env` requirement from lint rule
  Makefile
Due: detect-secrets

Add .DS_STORE to .gitignore
  .gitignore
Due: detect-secrets

Fix signature
  ctms/crud.py
Due: pylint, mypy, detect-secrets, isort, black

Add sub_waitlist_<name> column to Acoustic sync
  ctms/acoustic_service.py
  docs/deployment_guide.md
  tests/unit/test_acoustic_service.py
  tests/unit/test_api_patch.py
Due: pylint, mypy, detect-secrets, isort, black

Remove watcher assertions from test_ingest_stripe
  tests/unit/test_ingest_stripe.py
Due: pylint, mypy, detect-secrets, isort, black
