Repository mozilla-it/ctms-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, detect-secrets, isort, black

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

detect-secrets:
  name: detect-secrets
  entry: poetry run detect-secrets-hook
  args:
  - --baseline
  - .secrets.baseline
  language: system

isort:
  name: isort
  entry: poetry run isort
  args:
  - --recursive
  - --settings-path
  - ./pyproject.toml
  - .
  language: system

black:
  name: black
  entry: poetry run black
  args:
  - --config
  - ./pyproject.toml
  - .
  language: system

Autouse dbsession in tests, with the option to diable
  tests/unit/conftest.py
  tests/unit/test_crud.py
Due: pylint, mypy, detect-secrets, isort, black

Build newsletters in schema tests, instead of create
  tests/unit/schemas/test_newsletter.py
Due: pylint, mypy, detect-secrets, isort, black

Modify tests to remove dbsessions that no longer need them
  tests/unit/routers/contacts/test_api.py
  tests/unit/routers/contacts/test_api_delete.py
  tests/unit/routers/contacts/test_api_get.py
  tests/unit/routers/contacts/test_api_get_by_alt_id.py
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/routers/contacts/test_bulk.py
  tests/unit/routers/contacts/test_private_api.py
  tests/unit/schemas/test_contact.py
  tests/unit/test_auth.py
  tests/unit/test_log.py
  tests/unit/test_metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Restore local change for DB port
  docker-compose.yaml
Due: detect-secrets

Do not use FastAPI dependency for docker check
  ctms/routers/platform.py
  tests/unit/routers/test_platform.py
Due: pylint, mypy, detect-secrets, isort, black

Move fixtures into tests where used once
  tests/unit/routers/test_platform.py
Due: pylint, mypy, detect-secrets, isort, black

Replace `black`, `isort`, and `pylint` with `ruff` (#948)
  .pre-commit-config.yaml
  Makefile
  bin/lint.sh
  ctms/backport_legacy_waitlists.py
  ctms/bin/client_credentials.py
  ctms/bin/delete_bulk.py
  ctms/crud.py
  ctms/exception_capture.py
  ctms/metrics.py
  ctms/models.py
  ctms/routers/contacts.py
  ctms/schemas/bulk.py
  ctms/schemas/contact.py
  ctms/schemas/waitlist.py
  poetry.lock
  pyproject.toml
  tests/factories/models.py
  tests/unit/conftest.py
  tests/unit/test_backport_legacy_waitlists.py
  tests/unit/test_crud.py
  tests/unit/test_log.py
Due: pylint, mypy, detect-secrets, isort, black

Configure factories to automatically commit when called (#951)
  tests/factories/models.py
  tests/unit/conftest.py
  tests/unit/routers/contacts/test_api.py
  tests/unit/routers/contacts/test_api_delete.py
  tests/unit/routers/contacts/test_api_get.py
  tests/unit/routers/contacts/test_api_get_by_alt_id.py
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/routers/contacts/test_bulk.py
  tests/unit/routers/contacts/test_private_api.py
  tests/unit/schemas/test_contact.py
  tests/unit/schemas/test_newsletter.py
  tests/unit/test_auth.py
  tests/unit/test_backport_legacy_waitlists.py
  tests/unit/test_crud.py
  tests/unit/test_log.py
  tests/unit/test_metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Replace passlib with argon2-cffi
  ctms/auth.py
  poetry.lock
  pyproject.toml
Due: pylint, mypy, detect-secrets, isort, black

Update fastapi and starlette
  poetry.lock
  pyproject.toml
Due: detect-secrets

allow_redirects -> follow_redirects
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/test_metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Set cookie directly on client
  tests/unit/test_log.py
Due: pylint, mypy, detect-secrets, isort, black

Remove `url` field from error messages (due to fastapi upgrade)
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/test_auth.py
Due: pylint, mypy, detect-secrets, isort, black

Replace python-jose with pyjwt
  ctms/auth.py
  poetry.lock
  pyproject.toml
  tests/unit/test_auth.py
Due: pylint, mypy, detect-secrets, isort, black

Form attribute `regex` renamed to `pattern`
  ctms/auth.py
Due: pylint, mypy, detect-secrets, isort, black

Add fastapi extra for Sentry
  poetry.lock
  pyproject.toml
Due: detect-secrets

Refactor Sentry initialization
  ctms/app.py
  ctms/config.py
  ctms/exception_capture.py
  tests/unit/test_log.py
Due: pylint, mypy, detect-secrets, isort, black

Repalce on startup handler with lifespan
  ctms/app.py
Due: pylint, mypy, detect-secrets, isort, black

Fix a few leftover Pydantic warnings
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/routers/contacts/test_private_api.py
Due: pylint, mypy, detect-secrets, isort, black

register `disable_autouse` marker
  pyproject.toml
Due: detect-secrets

Relock lockfile
  poetry.lock
Due: none

Remove Sphinx from dev dependencies
  poetry.lock
  pyproject.toml
Due: detect-secrets

Replace ctms.web logger by logging
  ctms/app.py
Due: pylint, mypy, detect-secrets, isort, black

Untangle metrics from log context
  ctms/app.py
  ctms/metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Switch `docker-compose` to `docker compose`
  .env.example
  Makefile
  bin/integration-test.sh
  bin/test.sh
  docker-compose.yaml
  docs/configuration.md
  docs/developer_setup.md
Due: detect-secrets

Generate .env file before running unit tests
  .github/workflows/ci.yaml
Due: detect-secrets

Check if CTMS DB is already available before trying to start it with docker compose
  bin/test.sh
Due: detect-secrets

Update secrets.baseline
  .github/workflows/ci.yaml
  .secrets.baseline
Due: detect-secrets

Switch `docker-compose` to `docker compose` (#956)
  .env.example
  .github/workflows/ci.yaml
  .secrets.baseline
  Makefile
  bin/integration-test.sh
  bin/test.sh
  docker-compose.yaml
  docs/configuration.md
  docs/developer_setup.md
Due: detect-secrets

Remove Sphinx from dev dependencies (#955)
  poetry.lock
  pyproject.toml
Due: detect-secrets

Ref #492: drop write support of legacy vpn_waitlist and relay_waitlist fields (#722)
  ctms/backport_legacy_waitlists.py
  ctms/crud.py
  ctms/metrics.py
  ctms/schemas/__init__.py
  ctms/schemas/contact.py
  ctms/schemas/waitlist.py
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/test_backport_legacy_waitlists.py
  tests/unit/test_metrics.py
Due: pylint, mypy, detect-secrets, isort, black

Replace structlog with logging
  ctms/app.py
  ctms/log.py
  poetry.lock
  pyproject.toml
  tests/unit/routers/contacts/test_api_post.py
  tests/unit/routers/contacts/test_api_put.py
  tests/unit/routers/test_platform.py
  tests/unit/test_auth.py
  tests/unit/test_log.py
Due: pylint, mypy, detect-secrets, isort, black

Move log initialization to app.py
  asgi.py
  ctms/app.py
  ctms/log.py
  tests/unit/test_log.py
Due: pylint, mypy, detect-secrets, isort, black

Do not reconfigure logs using Alembic config
  migrations/env.py
  tests/unit/conftest.py
Due: pylint, mypy, detect-secrets, isort, black

Run ruff manually to sort imports
  ctms/app.py
  tests/unit/test_auth.py
  tests/unit/test_log.py
Due: pylint, mypy, detect-secrets, isort, black

@grahamalama review
  migrations/env.py
  tests/unit/routers/contacts/test_api_post.py
  tests/unit/routers/contacts/test_api_put.py
Due: pylint, mypy, detect-secrets, isort, black

Remove structlog (#957)
  asgi.py
  ctms/app.py
  ctms/log.py
  ctms/metrics.py
  migrations/env.py
  poetry.lock
  pyproject.toml
  tests/unit/conftest.py
  tests/unit/routers/contacts/test_api_post.py
  tests/unit/routers/contacts/test_api_put.py
  tests/unit/routers/test_platform.py
  tests/unit/test_auth.py
  tests/unit/test_log.py
Due: pylint, mypy, detect-secrets, isort, black

Make code changes to address warnings emitted in tests (#950)
  ctms/app.py
  ctms/auth.py
  ctms/config.py
  ctms/exception_capture.py
  poetry.lock
  pyproject.toml
  tests/unit/routers/contacts/test_api_patch.py
  tests/unit/routers/contacts/test_private_api.py
  tests/unit/test_auth.py
  tests/unit/test_log.py
Due: pylint, mypy, detect-secrets, isort, black

Run `lint --fix` in `format` Make target
  Makefile
Due: detect-secrets

Generate UUIDs on database insert
  ctms/models.py
  migrations/versions/20240807_3689b813fe22_default_email_id_on_insert.py
  tests/factories/models.py
Due: pylint, mypy, detect-secrets, isort, black

Path conditions:
  pylint: any of: \.py$, but not: ^migrations/
  mypy: any of: \.py$
  detect-secrets: any file but: poetry.lock
  isort: any of: \.py$
  black: any of: \.py$
